#menu
{
	position: fixed;
	width: 100%;
	height: 35px;
	background: transparent;
}

#menu li
{
	float: left;
}

body{
	background-image:url("images/body_img.png");
	background-position:center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

